*.aux
*.log
*.out
Data/dev/0/40000000.pkl
*.pkl
*.json
*.pt
*.bin
*.zip
*.tar.gz

Model-Analysis/outputs/figs/qa-txt__epc=2__all_tasks=qa-img|txt.jpg
Model-Analysis/outputs/figs/qa-img__epc=2__all_tasks=qa-img|txt.jpg
Model-Analysis/outputs/figs/qa-img__epc=1__all_tasks=qa-img|txt.jpg
Model-Analysis/outputs/.pretrained_model_-1/a803ce83ca27fecf74c355673c434e51c265fb8a3e0e57ac62a80e38ba98d384.681017f415dfb33ec8d0e04fe51a619f3f01532ecea04edbfd48c5d160550d9c
Model-Analysis/outputs/.pretrained_model_-1/5e8a2b4893d13790ed4150ca1906be5f7a03d6c4ddf62296c383f6db42814db2.e13dbb970cb325137104fb2e5f36fe865f27746c6b526f6352861b1980eb80b1
Model-Analysis/outputs/figs/qa-txt__epc=1__all_tasks=qa-img|txt.jpg
Model-Analysis/index.html
Data/train/139
Data/imgs.lineidx
Data/train/65
__MACOSX/DecompRC-all-models-and-data/model/._type-classifier
__MACOSX/DecompRC-all-models-and-data/model/._scorer
__MACOSX/DecompRC-all-models-and-data/model/._onehop
__MACOSX/DecompRC-all-models-and-data/model/._hotpot
__MACOSX/DecompRC-all-models-and-data/model/._decom-bridge
__MACOSX/DecompRC-all-models-and-data/._.DS_Store
DecompRC
__MACOSX/DecompRC-all-models-and-data/data/._.DS_Store
__MACOSX/DecompRC-all-models-and-data/data/decomposed-predictions/._.DS_Store
__MACOSX/DecompRC-all-models-and-data/model/._.DS_Store
__MACOSX/DecompRC-all-models-and-data/._model
